* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 2.5em;
  font-weight: 700;
  line-height: normal;
  color: hsl(234, 29%, 20%);
}

p {
  font-size: 1em;
  font-weight: 400;
  color: hsl(235, 18%, 26%);
}

ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 1.5rem;
}
ul li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.8em;
  font-weight: 400;
  color: hsl(235, 18%, 26%);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: hsl(234, 29%, 20%);
}

.newsletter__card {
  background: hsl(0, 0%, 100%);
  border-radius: 30px;
  box-shadow: 5px 8px 25px rgba(0, 0, 0, 0.2);
}
.newsletter__card.hidden {
  display: none;
}

.container__layout {
  width: 780px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.container__layout .image__part {
  margin: 20px;
}
.container__layout .image__part img {
  width: 100%;
  height: 100%;
}

.intro__part {
  padding: 4rem 3rem;
}
.intro__part p {
  margin: 20px 0;
}

form label {
  color: hsl(235, 18%, 26%);
  font-size: 1em;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
form label span {
  color: hsl(4, 100%, 67%);
}
form input {
  width: 100%;
  padding: 10px;
  color: hsl(0, 0%, 58%);
  outline: none;
  border: none;
  border: 2px solid hsl(0, 0%, 58%);
  border-radius: 5px;
  cursor: pointer;
  margin: 8px 0 24px 0;
}
form input:hover, form input:focus {
  border-color: hsl(234, 29%, 20%);
  color: hsl(234, 29%, 20%);
}
form .error {
  background: hsl(4, 88%, 94%) !important;
  color: hsl(4, 100%, 67%) !important;
  border-color: hsl(4, 100%, 67%);
}
form button {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  border: none;
  background: none;
  outline: none;
  border-radius: 5px;
  background: hsl(234, 29%, 20%);
  color: hsl(0, 0%, 100%);
  font-size: 1em;
  font-weight: 400;
  cursor: pointer;
}
form button:hover {
  background: hsl(4, 100%, 67%);
  box-shadow: 4px 12px 20px hsl(4, 100%, 67%);
}

.success__card {
  background: hsl(0, 0%, 100%);
  width: 400px;
  border-radius: 40px;
  box-shadow: 5px 8px 25px rgba(0, 0, 0, 0.2);
  display: none;
}
.success__card .success_content {
  margin: 4rem;
}
.success__card .success_content h1 {
  margin-top: 20px;
}
.success__card p {
  margin: 20px 0;
}
.success__card button {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  border: none;
  background: none;
  outline: none;
  border-radius: 5px;
  background: hsl(234, 29%, 20%);
  color: hsl(0, 0%, 100%);
  font-size: 1em;
  font-weight: 400;
  cursor: pointer;
}
.success__card button:hover {
  background: hsl(4, 100%, 67%);
  box-shadow: 4px 12px 20px hsl(4, 100%, 67%);
}
.success__card.show {
  display: block;
}

@media screen and (max-width: 48rem) {
  .newsletter__card {
    width: 100%;
    border-radius: inherit;
  }
  .container__layout {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
  .container__layout .image__part {
    margin: 0;
  }
  .intro__part {
    padding: 2rem;
  }
}
@media screen and (max-width: 40rem) {
  .success__card {
    width: 100%;
    height: 100vh;
    border-radius: inherit;
  }
  .success__card .success_content {
    margin: 6rem 2rem;
  }
}

/*# sourceMappingURL=styles.css.map */
